audio{
  display: none;
}
body{
  background-color: bisque;
}
.btn{
  background-color: darkgoldenrod;
}
.navbar{
  background-color: darkorange;
}
.card{
  background-color: orange;
}
.py-5{
  background-color: darkorange;
}

