audio{
  display: none;
}
body{
  background-color: bisque;
  font-size: large !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn-danger{
  background-color: darkgoldenrod;
}
.navbar{
  background-color: darkorange;
}
.card{
  background-color: orange;
}
.py-5{
  background-color: darkorange;
}
.btn-warning{
  background-color: brown;
  color: whitesmoke;
  width: 100px;
  height: 50px;
  text-align: center;
}